@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

body {
    font-family: 'Cinzel';
    /* background-image: url('./cover.jpg');
    background-size: cover;
    color: #BFC9CA;*/
}


.mainVideo {
    border: 10px solid gray;
    display: block;
    margin: auto;
}

form textarea#feedbackText {
     height: 200px;
     max-width: 100%;
}

article.about {
    width: 25%;
    height: 700px;
    margin: 0 auto;
    display: block;
    background-color: black;
    border: 5px solid #BFC9CA;
    text-align: center;
    border-radius: 10px;
    min-width: 400px;
    /*opacity: .7;*/
    color: white;
}

main>section>article>p {
    font-family: 'Cormorant Garamond';
    text-align: left;
    font-weight: 300;
    color: #F7F3AD;
    margin: 5px;
    font-size: 17px;
    /* margin-top: 200px; */
}

.about p{
        margin-top: 200px;
        text-align: center;
}

.cource-section {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    vertical-align: top;
}

article.cource {
    vertical-align: top;
    max-width: 32.2%;
    display: inline-block;
    border: 5px solid #BFC9CA;
    padding: 10px;
    margin: 5px;
    background-color: black;
    height: 700px;
    text-align: center;
    border-radius: 10px;
}

article.cource::before {
    content: url('./new.png');
    transform: scale(.1);
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
}

article.cource:hover {
    box-shadow: 6px 6px 10px rgb(0, 0, 0, .7);
    transition: 1s;
}

.cource-header {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;
}

.cource-href {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.cource-href:hover {
    text-decoration: none;
    color: white;
    font-weight: 500;
}


article img {
    max-width: 100%;
}

.article-image {
    height: 200px;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
}

.description-section {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    vertical-align: top;
}

article.cource-description {
    vertical-align: top;
    max-width: 48%;
    display: inline-block;
    border: 5px solid #e1e0c3;
    padding: 10px;
    margin: 5px;
    background-color: black;
    height: 1050px;
    text-align: center;
    border-radius: 10px;
}

.author-image {
    margin-top: 20px;
    height: 200px;
    width: 40%;
    border: 10px solid white;
    background-size: cover !important;
    background-position: center !important;
    display: inline-block;
}

.cource-modiles h5 {
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 30px;
}

.cource-modiles li {
    text-align: left;
    list-style-type: none;
    font-size: 15px;
    color: #BFC9CA;
}

li.module {
    color: white;
}

.SubmitFeedbackBtn {
    font-family: 'Cinzel';
    margin: 20px 20px;
}

.SubmitFeedbackBtn:hover {
    font-weight: 600;
}

.footer {
    margin: 40px;
}

.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}