{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}L | T | S - About{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>About</h1>
</div>
<main>
    <section>
        <article class="about">
            <h2>Why Us?</h2>
            <p>
                We're demolishing the walls put in place by passive learning and inaccessibility
                with an approach that strikes the perfect balance between hands-on practice
                instructor-led video training. Become an active participant in your Networking,
                Cyber Security, Cloud Computer, or Data Science training with L|T|S today.
            </p>
        </article>
    </section>
</main>
{% endblock %}